<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header"></head>
<body>
<div th:include="fragments/navigation :: navigation"></div>
<div class="container">
    <h3>Проект job4j_dreamjob, выполняемый в рамках курса Job4j</h3>
    <div>
        <a class="nav-item nav-link active" href="/">Главная</a>
        <a class="nav-item nav-link active" th:href="@{/vacancies}">Вакансии</a>
        <a class="nav-item nav-link active" th:href="@{/candidates}">Кандидаты</a>
        <a class="nav-item nav-link active" th:href="@{/vacancies/create}">Создать вакансию</a>
        <a class="nav-item nav-link active" th:href="@{/candidates/create}">Создать резюме</a>
    </div>
</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>